.config
*.o
*.d
*.a
*.img
*.bin
*.elf
*.out
*.swp
*.swo
*.so
.git-ignore
*.patch
*.pyc
cscope*
tags
TAGS
Makefile.local
compel/compel
compel/compel-host-bin
images/*.c
images/*.h
images/google/protobuf/*.c
images/google/protobuf/*.h
.gitid
criu/criu
criu/unittest/unittest
criu/arch/*/sys-exec-tbl*.c
# x86 syscalls-table is not generated
lib/build/
lib/c/criu.pc
compel/include/asm
include/common/asm
include/common/config.h
build/**
